{% load static %}
<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'jorneyisa/css/style.css' %}" rel="stylesheet">
    <script src="{% static 'jorneyisa/js/index.js' %}"></script>
    <title>{{ title }}</title>
    
</head>
<body>
    <header>
        <div class="wrapper">
            <p class="header-title"><a href="{% url 'home' %}">jorneyisa</a></p>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <section class="main-menu">
                <div class="map-setings">
                    <p class="menu-map-btm"><a href="{% url 'home' %}">&nbsp; Map</a></p>
                    <span class="map-seting-line"><span></span></span>
                    <p class="menu-table-btm"><a href="{% url 'tabel_event' %}">Table</a></p>
                </div>
                <div class="main-filter">
                    <div class="open-filter"><p>Фільтер</p></div>
                    <div class="filter">

                        <p>Від найновішої події</p>
                        <p>Від найдавнішої події</p>
                        <form action="#" method="get">
                            <label>
                                <select name="place">
                                    <option value="mountain">mountain</option>
                                    <option value="park">park</option>
                                    <option value="city">city</option>
                                    <option value="cafe">cafe</option>
                                    <option value="restaurant">restaurant</option>
                                </select>
                            </label>
                            <label>
                                <select name="place">
                                    <option value="campaign">похід</option>
                                    <option value="vacation">відпочинок</option>
                                    <option value="excursion">екскурсія</option>
                                    <option value="sessions">посиденьки</option>
                                    <option value="businessMeeting">ділова зустріч</option>
                                </select>
                            </label>
                        </form>
                        <p class="close-filter">Закрити</p>
                    </div>
                </div>
            </section>
                {% block map %}
                {% endblock map %}

                {% block table %}
                {% endblock table %}
        </div>
    </main>
    <script src="{% static 'jorneyisa/js/index.js' %}"></script>
    
</body>
</html>