{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'jorneyisa/css/style.css' %}" rel="stylesheet">
    <script src="{% static 'jorneyisa/js/index.js' %}"></script>
    <title>{{ title }}</title>
</head>

<body>
    <header>
        <div class="wrapper">
            <p class="header-title"><a href="{% url 'home' %}">jorneyisa</a></p>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <section class="main-menu">
                <div class="map-setings">
                    <p class="active-menu"><a href="{% url 'home' %}">Map</a></p>
                    <span class="map-seting-line"><span></span></span>
                    <p><a href="{% url 'tabel_event' %}">Table</a></p>
                </div>
                <div class="main-filter">
                    <div class="open-filter">
                        <p>Filter</p>
                    </div>
                    <div class="filter">
                        <p><a>дата</a></p>
                        <p><a>місце</a></p>
                        <p><a>подія</a></p>
                    </div>
                </div>
            </section>
            <section class="map-box">
                {% block map %}
                {% endblock map %}
            </section>
        </div>
    </main>
</body>

</html>