<!-- {% extends 'jorneyisa/index.html' %}

{% block table %} -->
<link rel="stylesheet" href="../../static/jorneyisa/css/style.css">
    <section class="table-box">
        <div class="table-line">
            <div class="table-img-box"><img src="../../static/jorneyisa/img/disco.png"></div>
            <div class="table-text-box">
                <h3 class="table-text-title">Title</h3>
                <p class="table-place">place</p>
                <p class="table-time">time</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, distinctio itaque! Obcaecati cupiditate quam quae nobis atque. Vitae reiciendis quos, eius debitis consectetur rem laudantium, consequatur accusantium iste at deleniti!</p>
            </div>
        </div>
        <div class="table-line">
            <div class="table-img-box"><img src="../../static/jorneyisa/img/disco.png"></div>
            <div class="table-text-box">
                <h3 class="table-text-title">Title</h3>
                <p class="table-place">place</p>
                <p class="table-time">time</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quidem earum natus consequatur tempora ipsum impedit voluptas recusandae deserunt illo tenetur possimus culpa ducimus soluta, animi eligendi aperiam sapiente accusamus.
                Similique sequi impedit facere perspiciatis error amet itaque, cumque natus hic dicta tempore consectetur est quisquam. Perspiciatis, nesciunt! Mollitia ab non accusamus nisi exercitationem deleniti nihil repellendus ex quas doloremque!</p>
            </div>
        </div>
    </section>
<!-- {% endblock table %} -->