{% extends 'jorneyisa/index.html' %}
{% load static %}

{% block table %}
{% for info in events %}
<section class="table-box">
    <div class="table-line">
        <div class="table-img-box"><img src="{% static 'jorneyisa/img/disco.png' %}"></div>
        <div class="table-text-box">
            <h3 class="table-text-title">{{ info.title }}</h3>
            <p class="table-place">{{ info.place }}</p>
            <p class="table-time">{{ info.time }}</p>
            <p>{{ info.description }}</p>
        </div>
    </div>
</section>
{% endfor %}
{% endblock table %}