{% extends 'jorneyisa/index.html' %}
{% load static %}

{% block table %}
{{events}}
{% for info in events %}
<section class="table-box">
    <div class="table-line">
        <div class="table-img-box"><img src="{% static 'jorneyisa/img/disco.png' %}"></div>
        <div class="table-text-box">
            <h3 class="table-text-title">{{ info.Title }}</h3>
            <p class="table-place">{{ info.Place }}</p>
            <p class="table-time">{{ info.Time }}</p>
            <p>{{ info.Description }}</p>
        </div>
    </div>
</section>
{% endfor %}
{% endblock table %}