html{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
}
body{
    margin: 0;
}
main{
    padding-bottom: 20px;
}
.wrapper{
    position: relative;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
header{
    text-align: center;
    margin-bottom: 50px;
    padding: 15px;
    background: #000;
}
.header-title{
    margin: 0;
}
.header-title a{
    color: #fff;
    text-transform: uppercase;
}
.map-setings,
.main-filter{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 25px;
}

.map-seting-line{
    display: inline-block;
    margin: 0 14px;
    width: 2px;
    min-height: 100%;
    background: #000;
}
.map-setings p{
    margin: 0;
    cursor: pointer;
    transition: all .5s ease;
}
.map-setings p:hover{
    transform: scale(1.1);
}
.map-setings a{
    color: #000;
}
.main-filter{
    margin: 0 auto;
    padding-bottom: 25px;
    flex-direction: column;
    font-size: 20px;
}
.open-filter{
    display: inline-block; 
    margin: 0 auto; 
    margin-bottom: 15px;
    padding: 10px 25px;
    border-bottom: 1px solid #000;
}
.open-filter p{
    margin: 0;
}
.filter{
    margin: 0 auto;
}
.filter p{
 display: inline-block;
 margin: 0;
 margin-right: 15px;
}
.filter p:last-child{
 margin: 0;
}



.active-menu{
    transform: scale(1.1);
    color:red;
}



.map-box{
    width: 100%;
    min-height: 350px;
    background: #000;
}



.table-box{
    box-sizing: border-box;
    overflow: hidden;
}
.table-line{
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
    transition: all .5s ease;
}
.table-line:hover{
    transform: scale(1.01);
}
.table-img-box{
    display: inline-block;
    margin-right: 5%;
    width: 15%;
}
.table-img-box img{
    width: 100%;
}
.table-text-box{
    display: inline-block;
    width: 80%;
    font-size: 18px;
}
.table-text-title{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.table-place,
.table-time{
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    font-size: 16px;
}